#main
	h1
		text-align center
		margin-bottom 20px

#pizzas
	margin-top: 20px;

	.toppings
		ul
			list-style none
			margin-top 10px
			display block
			padding 0

			li
				padding 0

.loader
	margin-right 10px
	margin-top 10px